<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp Account</title>
</head>
<body>
    {{sess}}
    <a href="/dash">Go Back</a>
    <br>
    <br>
    <a href="/usefile" type = "submit">Upload file</a>
    <br>
    <br>
    <a href="/useimage">Send Image</a>
    <br>
    <br>
    <a href="/unread" type = 'submit'>Check Unread Msgs</a>
    <br>
    <br>
    <a href="/cmsg">Custom Message</a>
</body>
</html>